<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="copyright" content="MACode ID, https://www.macodeid.com/">

  <title>Virtual Folio - Portfolio HTML5 Template</title>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="/stylesheets/themify-icons.css">

  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">

  <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">

  <link rel="stylesheet" type="text/css" href="/vendor/owl-carousel/owl.carousel.css">

  <link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/css/perfect-scrollbar.css">

  <link rel="stylesheet" type="text/css" href="/vendor/nice-select/css/nice-select.css">

  <link rel="stylesheet" type="text/css" href="/vendor/fancybox/css/jquery.fancybox.min.css">

  <link rel="stylesheet" type="text/css" href="/stylesheets/virtual.css">

  <link rel="stylesheet" type="text/css" href="/stylesheets/topbar.virtual.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- un boostrap de whasap -->
</head>

<body class="theme-red">

  <!-- Back to top button -->
  <div class="btn-back_to_top">
    <span class="ti-arrow-up"></span>
  </div>

  <!-- Setting button -->
  <div class="config">
    <div class="template-config">
      <!-- Settings -->
      <div class="d-block">
        <button class="btn btn-fab btn-sm" id="sideel" title="Settings"><span class="ti-settings"></span></button>
      </div>
      <!-- Puschase -->
      <div class="d-block">
        <a href="https://macodeid.com/projects/virtual-folio/" class="btn btn-fab btn-sm" title="Get this template"
          data-toggle="tooltip" data-placement="left"><span class="ti-download"></span></a>
      </div>
      <!-- Help -->
      <div class="d-block">
        <a href="#" class="btn btn-fab btn-sm" title="Help" data-toggle="tooltip" data-placement="left"><span
            class="ti-help"></span></a>
      </div>
    </div>
    <div class="set-menu">
      <p>Select Color</p>
      <div class="color-bar" data-toggle="selected">
        <span class="color-item bg-theme-red selected" data-class="theme-red"></span>
        <span class="color-item bg-theme-blue" data-class="theme-blue"></span>
        <span class="color-item bg-theme-green" data-class="theme-green"></span>
        <span class="color-item bg-theme-orange" data-class="theme-orange"></span>
        <span class="color-item bg-theme-purple" data-class="theme-purple"></span>
      </div>
      <select class="custom-select d-block my-2" id="change-page">
        <option value="">Choose Page</option>
        <option value="index">Topbar</option>
        <option value="blog-topbar">Blog (Topbar)</option>
        <option value="index-2">Minibar</option>
        <option value="blog-minibar">Blog (Minibar)</option>
      </select>
    </div>
  </div>

  <div class="vg-page page-home" id="home" style="background-image: url(/img/bg_image_1.jpg)">
    <!-- Navbar -->
    <div class="navbar navbar-expand-lg navbar-dark sticky" data-offset="500">
      <div class="container">
        <a href="" class="navbar-brand">MI-Portafolio</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#main-navbar" aria-expanded="true">
          <span class="ti-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="/" class="nav-link" data-animate="scrolling">Home</a>
            </li>
            <li class="nav-item">
              <a href="#datos" class="nav-link" data-animate="scrolling">Datos Personales</a>
            </li>
            <li class="nav-item">
              <a href="#aprendizaje" class="nav-link" data-animate="scrolling">Aprendizaje</a>
            </li>
            <li class="nav-item">
              <a href="#educacion" class="nav-link" data-animate="scrolling">Educacion</a>
            </li>
            <li class="nav-item">
              <a href="#proyectos" class="nav-link" data-animate="scrolling">Mis Proyectos</a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="nav-link" data-animate="scrolling">Contact</a>
            </li>
          </ul>
          <ul class="nav ml-auto">
            <li class="nav-item">
              <a href="https://api.whatsapp.com/send/?phone=%2B5491122502748&text&type=phone_number&app_absent=0">
                <button class="btn btn-fab btn-theme no-shadow"> <i
                    class="fa fa-whatsapp whatsapp-icon"></i></button></a>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- End Navbar -->
    <!-- Caption header -->
    <div class="caption-header text-center wow zoomInDown">
      <h5 class="fw-normal">Bienvenido</h5>
      <h1 class="fw-light mb-4">Yo soy <b class="fg-theme">Sergio</b> Romero</h1>
      <div class="badge">Programador full stack</div>
    </div> <!-- End Caption header -->
    <div class="floating-button"><span class="ti-mouse"></span></div>
  </div>

  <div class="vg-page page-about" id="about">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4 py-3">
          <div class="img-place wow fadeInUp">
            <img src="/img/manu.png" alt="">
          </div>
        </div>
        <div id="datos" class="col-lg-6 offset-lg-1 wow fadeInRight">
          <h1 class="fw-light">Sergio Romero</h1>
          <h5 class="fg-theme mb-3">Programador Full Stack</h5>
          <p class="text-muted">¡Hola bienvenido! Soy un estudiante de la tecnicatura en programación,recibido del
            bootcamp FullStack Java en MindHub y Digital House full stack Mern(Node js y React) un apasionado de la
            tecnología.
            En este momento, me encuentro buscando mi primera oportunidad laboral en este mundo tan nuevo y emocionante!
            con ganas de continuar aprendiendo sobre el desarrollo de nuevas tecnologías. 
           Desarrollador FullStack con excelentes relaciones interpersonales y trabajo en equipo.</p>
          <ul class="theme-list">
            <li><b>Nacionalidad:</b> argentina</li>
            <li><b>localidad :</b> buenos aires, florencio varela</li>
            <li><b>Edad:</b> 26</li>
            <li><b>genero:</b> Masculino</li>
          </ul>
          <a href="/docs/cv2023.pdf" download="cv sergio romero2022">
            <button class="btn btn-theme-outline">Descargar CV</button>
          </a>
        </div>
      </div>
    </div>
    <div class="container py-5">
      <h1 id="aprendizaje" class="text-center fw-normal wow fadeIn">Mis aprendizajes</h1>
      <div class="row py-3">
        <div class="col-md-6">
          <div class="px-lg-3">
            <h4 class="wow fadeInUp">Habilidades de codificacion</h4>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">JavaScript</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 86%;" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100">86%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">MySQL</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100">80%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">HTML + CSS</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100">100%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">NODE JS</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100">90%</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="px-lg-3">
            <h4 class="wow fadeInUp">Framework</h4>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">REACT</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 82%;" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100">82%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">Javascript Front</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100">80%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">Api REST</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100">75%</div>
              </div>
            </div>
            <div class="progress-wrapper wow fadeInUp">
              <span class="caption">Java</span>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 72%;" aria-valuenow="72" aria-valuemin="0"
                  aria-valuemax="100">72%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-6 wow fadeInRight">
          <h2 id="educacion" class="fw-normal">Educacion</h2>
          <ul class="timeline mt-4 pr-md-5">
            <li>
              <div class="title">2015</div>
              <div class="details">
                <h5>Secundario</h5>
                <small class="fg-theme">Colegio Padre Faustino</small>
                <p>Secundario completo bachillerato en economia y gestion </p>
              </div>
            </li>
            <li>
              <div class="title">2018</div>
              <div class="details">
                <h5>Curso Refrigeracion e instalador aire acondicionado</h5>
                <small class="fg-theme">Curso profesional de refrigeracion</small>
                <p>tecnico matriculado de refrigeracion aire acondicionado de CAIM. Cámara Argentina de Instaladores
                  Matriculados</p>
              </div>
            </li>
            <li>
              <div class="title">2019</div>
              <div class="details">
                <h5>Universidad ingenieria en informatica</h5>
                <small class="fg-theme">universidad arturo jauretche</small>
                <p>segundo año en curso en la carrera de ingenieria informatica en la universidad de florencio varela
                  Arturo Jauretche</p>
              </div>
            </li>
            <li>
              <div class="title">2021</div>
              <div class="details">
                <h5>Curso Programacion </h5>
                <small class="fg-theme">Digital House</small>
                <p>Curso intensivo de programador Digital House duracion de 8 meses.
                  Proyecto profesional en el marco del curso de Digital House.
                  Aplicación de arquitectura MVC. Desarrollo de operaciones crud,
                  registro de usuarios. Lógica de roles. Integración con base de datos.
                  3 integrantes. (Node.js, Express, MySql, Sequelize, Ejs, Bootstrap,
                  Css, Metodología Scrum).

                </p>
              </div>
            </li>
            <li>
              <div class="title">2022</div>
              <div class="details">
                <h5>Curso Programacion </h5>
                <small class="fg-theme">MindHub</small>
                <p>Bootcamp Full Stack Java, cursado full-time de aproximadamente 740 hs en desarrollo,
                  simulando un ambiente laboral real trabajando con metodología ágiles (SCRUM). Manejo de lenguajes
                  HTML5,
                  CSS3, Javascript, Java y frameworks como Bootstrap, Vue, Spring, además del uso de herramientas como
                  Github y
                  Trello. Empleo de la metodología Learn By Doing

                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-6 wow fadeInRight" data-wow-delay="200ms">
          <h2 class="fw-normal">Experiencia</h2>
          <ul class="timeline mt-4 pr-md-5">
            <li>
              <div class="title">2019</div>
              <div class="details">
                <h5>Electricista</h5>
                <small class="fg-theme">Dmelec</small>
                <p>Electricista duracion de 1 año </p>
              </div>
            </li>
            <li>
              <div class="title">2021</div>
              <div class="details">
                <h5>Proyecto Grupal Digital House</h5>
                <small class="fg-theme">E-commerce Electodo</small>
                <p> (abril 2021 - octubre 2021)
                  Proyecto profesional en el marco del curso de Digital House.
                  Aplicación de arquitectura MVC. Desarrollo de operaciones crud,
                  registro de usuarios. Lógica de roles. Integración con base de datos.
                  3 integrantes. (Node.js, Express, MySql, javascript, javascript front end, Ejs, Bootstrap,
                  Css, Metodología Scrum).</p>
              </div>
            </li>
            <li>
              <div class="title">2022</div>
              <div class="details">
                <h5>Proyectos Java</h5>
                <small class="fg-theme">E-commerce</small>
                <p> (agosto 2022 - diciembre 2022)
                  Cuento con más de 700 hrs de desarrollo y simulando un entorno de trabajo real con metodología agile
                  (SCRUM)
                  Trabajando en equipo desarrolle un ecommerce completo y de forma individual desarrolle un homebaking y
                  otros proyectos. Aprendí habilidades técnicas como JAVA,
                  JavaScript, Axios ,Vue.js, Spring, Postgresql, HTML,CSS,Bootstrap,Git/Github y Postman.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="vg-page page-service">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <div class="badge badge-subhead">Service</div>
      </div>
      <h1 class="fw-normal text-center wow fadeInUp">What can i do?</h1>
      <div class="row mt-5">
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card card-service wow fadeInUp">
            <div class="icon">
              <span class="ti-paint-bucket"></span>
            </div>
            <div class="caption">
              <h4 class="fg-theme">Web Design</h4>
              <p>There are many variations of passages of Lorem Ipsum available</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card card-service wow fadeInUp">
            <div class="icon">
              <span class="ti-search"></span>
            </div>
            <div class="caption">
              <h4 class="fg-theme">SEO</h4>
              <p>There are many variations of passages of Lorem Ipsum available</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card card-service wow fadeInUp">
            <div class="icon">
              <span class="ti-vector"></span>
            </div>
            <div class="caption">
              <h4 class="fg-theme">UI/UX Design</h4>
              <p>There are many variations of passages of Lorem Ipsum available</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card card-service wow fadeInUp">
            <div class="icon">
              <span class="ti-desktop"></span>
            </div>
            <div class="caption">
              <h4 class="fg-theme">Web Development</h4>
              <p>There are many variations of passages of Lorem Ipsum available</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div id="proyectos" class="vg-page page-funfact" style="background-image: url(/img/bg_banner.jpg);">
    <div class="container">
      <div class="row section-counter">
        <div class="col-md-6 col-lg-3 py-4 wow fadeIn">
          <h1 class="number" data-number="4">4</h1>
          <span>Clientes</span>
        </div>
        <div class="col-md-6 col-lg-3 py-4 wow fadeIn">
          <h1 class="number" data-number="8">8</h1>
          <span>Proyectos Completados</span>
        </div>
        <div class="col-md-6 col-lg-3 py-4 wow fadeIn">
          <h1 class="number" data-number="2">2</h1>
          <span>Proyectos en Curso</span>
        </div>
        <div class="col-md-6 col-lg-3 py-4 wow fadeIn">
          <h1 class="number" data-number="4">4</h1>
          <span>clientes satisfechos</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio page -->
  <div class="vg-page page-portfolio" id="portfolio">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <div class="badge badge-subhead">Portafolio</div>
      </div>
      <h1 class="text-center fw-normal wow fadeInUp">Ver mis Proyectos</h1>
      <div class="filterable-button py-3 wow fadeInUp" data-toggle="selected">
        <button class="btn btn-theme-outline selected" data-filter="*">Todos</button>
        <button class="btn btn-theme-outline" data-filter=".apps">1</button>
        <button class="btn btn-theme-outline" data-filter=".template">2</button>
        <button class="btn btn-theme-outline" data-filter=".ios">3</button>
        <button class="btn btn-theme-outline" data-filter=".ui-ux">4</button>
        <button class="btn btn-theme-outline" data-filter=".graphic">5</button>
        <button class="btn btn-theme-outline" data-filter=".wireframes">6</button>
      </div>

      <div class="gridder my-3">
        <div class="grid-item apps wow zoomIn">
          <div class="img-place" data-src="/img/work/a.png" data-fancybox
            data-caption="<h5 class='fg-theme'>Mobile Travel App</h5> <p>Travel, Discovery</p>">
            <img src="/img/work/a.png" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">e-commerce</h5>
              <p>Electodo</p>
            </div>
          </div>
        </div>
        <div class="grid-item template wireframes wow zoomIn">
          <div class="img-place" data-src="/img/work/as.png" data-fancybox
            data-caption="<h5 class='fg-theme'>Music App</h5> <p>Musics</p>">
            <img src="/img/work/as.png" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">Detalle Producto</h5>
              <p>Electodo</p>
            </div>
          </div>
        </div>
        <div class="grid-item apps ios wow zoomIn">
          <div class="img-place" data-src="/img/work/d.png" data-fancybox
            data-caption="<h5 class='fg-theme'>Gaming Dashboard</h5> <p>Games, Streaming</p>">
            <img src="/img/work/d.png" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">Busqueda</h5>
              <p>Electodo</p>
            </div>
          </div>
        </div>
        <div class="grid-item graphic ui-ux wow zoomIn">
          <div class="img-place" data-src="/img/work/e.png" data-fancybox
            data-caption="<h5 class='fg-theme'>Drugs Delivery App</h5> <p>Health, Drugs</p>">
            <img src="/img/work/e.png" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">Login</h5>
              <p>Electodo</p>
            </div>
          </div>
        </div>
        <div class="grid-item apps ios wow zoomIn">
          <div class="img-place" data-src="/img/work/i.png" data-fancybox
            data-caption="<h5 class='fg-theme'>Musics Discover</h5> <p>Musics, Dashboard</p>">
            <img src="/img/work/i.png" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">E-commerce</h5>
              <p>Electodo</p>
            </div>
          </div>
        </div>
        <div class="grid-item graphic ui-ux wireframes wow zoomIn">
          <div class="img-place" data-src="/img/work/sd.png" data-fancybox
            data-caption="<h5 class='fg-theme'>Game Streaming</h5> <p>Games, Streaming</p>">
            <img src="/img/work/sd.png" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">diseniodelonas</h5>
              <p>lonas FyC</p>
            </div>
          </div>
        </div>
      </div> <!-- End gridder -->
      <div class="text-center wow fadeInUp">
        <a href="javascript:void(0)" class="btn btn-theme">Ver Mas</a>
      </div>
    </div>
  </div> <!-- End Portfolio page -->

  <br>
  <br>

  <!-- que dicen mis clientes -->
  <div class="vg-page page-testimonial">
    <div class="container">
      <h1 class="text-center fw-normal wow fadeInUp">Capacitación Desarrollador Web Full Stack.</h1>
      <div class="row justify-content-center mt-5 wow fadeInUp">
        <div class="col-md-9">
          <div class="owl-carousel testi-carousel">
            <div class="item">
              <div class="row">
                <div class="col-md-6">
                  <div class="img-place">
                    <img src="/img/lenguajes.jpeg" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="caption">
                    <div class="testi-content">
                      ◉HTML & CSS.
                      ◉BOOSTRAP.
                      ◉JAVASCRIPT.
                      ◉JAVA.
                      ◉Node Js
                      ◉React
                      ◉Express
                      ◉MANEJO DE BASES DE DATOS.
                      RELACIONALES(MYSQL).
                      ◉PROGRAMACIÓN ORIENTADA A OBJETOS.
                      ◉MANEJO DE REPOSITORIOS GIT.
                      ◉METODOLOGIAS AGILES - SCRUM.</div>
                    <div class="testi-info">
                      <div class="thumb-profile">
                        <img src="/img/mio.jpg" alt="">
                      </div>
                      <div class="tagline">
                        <h5 class="mb-0">Sergio Romero</h5>
                        <span class="text-muted">Digital House</span>
                        <span class="text-muted">MindHub</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-6">
                  <div class="img-place">
                    <img src="/img/lenguajes.jpeg" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="caption">
                    <div class="testi-content">
                      ◉HTML & CSS.
                      ◉BOOSTRAP.
                      ◉JAVASCRIPT.
                      ◉Node Js
                      ◉React
                      ◉Express
                      ◉MANEJO DE BASES DE DATOS.
                      RELACIONALES(MYSQL).
                      ◉PROGRAMACIÓN ORIENTADA A OBJETOS.
                      ◉MANEJO DE REPOSITORIOS GIT.
                      ◉METODOLOGIAS AGILES - SCRUM.</div>
                    <div class="testi-info">
                      <div class="thumb-profile">
                        <img src="/img/mio.jpg" alt="">
                      </div>
                      <div class="tagline">
                        <h5 class="mb-0">Sergio Romero</h5>
                        <span class="text-muted">Digital House</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End testimonial -->

  <!-- Client -->
  <div class="vg-page page-client">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-3 item">
          <div class="img-place wow fadeInUp">
            <img src="/img/logo/nodejs.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 item">
          <div class="img-place wow fadeInUp">
            <img src="/img/logo/javas.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 item">
          <div class="img-place wow fadeInUp">
            <img src="/img/logo/todos.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 item">
          <div class="img-place wow fadeInUp">
            <img src="/img/logo/express.png" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-3 item">
          <div class="img-place wow fadeInUp">
            <img src="/img/logo/mysql.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 item">
          <div class="img-place wow fadeInUp">
            <img src="/img/logo/react.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 item">
          <div class="img-place wow fadeInUp">
            <img src="/img/logo/github.png" alt="">
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 item">
          <div class="img-place wow fadeInUp">
            <img src="/img/logo/api.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End client -->

  <!-- Blog -->
  <!--  <div class="vg-page page-blog" id="blog">
    <div class="container">
      <div class="text-center">
        <div class="badge badge-subhead wow fadeInUp">Blog</div>
      </div>
      <h1 class="text-center fw-normal wow fadeInUp">Latest Post</h1>
      <div class="row post-grid">
        <div class="col-md-6 col-lg-4 wow fadeInUp">
          <div class="card">
            <div class="img-place">
              <img src="/img/work/work-9.jpg" alt="">
            </div>
            <div class="caption">
              <a href="javascript:void(0)" class="post-category">Technology</a>
              <a href="#" class="post-title">Invision design forward fund</a>
              <span class="post-date"><span class="sr-only">Published on</span> May 22, 2018</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow fadeInUp">
          <div class="card">
            <div class="img-place">
              <img src="/img/work/work-6.jpg" alt="">
            </div>
            <div class="caption">
              <a href="javascript:void(0)" class="post-category">Business</a>
              <a href="#" class="post-title">Announcing a plan for small teams</a>
              <span class="post-date"><span class="sr-only">Published on</span> May 22, 2018</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow fadeInUp">
          <div class="card">
            <div class="img-place">
              <img src="/img/work/work-1.jpg" alt="">
            </div>
            <div class="caption">
              <a href="javascript:void(0)" class="post-category">Design</a>
              <a href="#" class="post-title">5 basic tips for illustrating</a>
              <span class="post-date"><span class="sr-only">Published on</span> May 22, 2018</span>
            </div>
          </div>
        </div>
        <div class="col-12 text-center py-3 wow fadeInUp">
          <a href="blog-fullbar.html" class="btn btn-theme">See All Post</a>
        </div>
      </div>
    </div>
  </div> -->
  <!-- End blog -->

  <!-- Contact -->
  <div class="vg-page page-contact" id="contact">
    <div class="container-fluid">
      <div class="text-center wow fadeInUp">
        <div class="badge badge-subhead">Contacto</div>
      </div>
      <h1 class="text-center fw-normal wow fadeInUp">Ponerse en Contacto</h1>
      <div class="row py-5">
        <div class="col-lg-7 px-0 pr-lg-3 wow zoomIn">
          <div class="vg-maps">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6550.587934175038!2d-58.2947213!3d-34.82370069999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1650304969730!5m2!1ses-419!2sar"
              width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>

          </div>
        </div>
        <div class="col-lg-5">
          <form id="form" class="vg-contact-form">
            <div class="form-row">
              <div class="col-12 mt-3 wow fadeInUp">
                <input class="form-control" type="text" name="name" placeholder="Su nombre" required>
              </div>
              <div class="col-6 mt-3 wow fadeInUp">
                <input class="form-control" type="text" name="email" placeholder="Email aqui" required>
              </div>
              <div class="col-6 mt-3 wow fadeInUp">
                <input class="form-control" type="number" name="phone" placeholder="Telefono" required>
              </div>
              <div class="col-12 mt-3 wow fadeInUp">
                <textarea class="form-control" name="message" rows="6" placeholder="Envie su mensaje aqui..."
                  required></textarea>
              </div>
              <input type="submit" class="btn btn-theme mt-3 wow fadeInUp ml-1" id="button" value="Enviar Mensaje"
                required>
            </div>
          </form>
          <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

          <script type="text/javascript">
            emailjs.init('z7S_GsktAMKgiCC7t')
          </script>
        </div>
      </div>
    </div>
  </div> <!-- End Contact -->

  <!-- Footer -->
  <div class="vg-footer">
    <h1 class="text-center">Mi Portafolio</h1>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 py-3">
          <div class="footer-info">
            <p>Donde Encontrarme.</p>
            <hr class="divider">
            <p class="fs-large fg-white">Buenos Aires, Florencio varela </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 py-3">
          <div class="">
            <p>Seguime.</p>
            <hr class="divider">
            <ul class="list-unstyled">
              <li><a href="https://www.instagram.com/sergio_manu96/">Instagram.</a></li>
              <li><a href="#">Facebook.</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Youtube</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 py-3">
          <div class="float-lg-right">
            <p>Contactarme</p>
            <hr class="divider">
            <ul class="list-unstyled">
              <li>sergio96romero96@gmail.com</li>
              <li>1122502748</li>

            </ul>
          </div>
        </div>
      </div>
      <!--     <div class="row justify-content-center mt-3">
        <div class="col-12 mb-3">
          <h3 class="fw-normal text-center">Subscribe</h3>
        </div>
        <div class="col-lg-6">
          <form class="mb-3">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Email address">
              <input type="submit" class="btn btn-theme no-shadow" value="Subscribe">
            </div>
          </form>
        </div>
        <div class="col-12">
         
        </div>
      </div> -->
    </div>
  </div> <!-- End footer -->




  <%- include('./partials/scripts') %>

    <script>
      const btn = document.getElementById('button');

      document.getElementById('form')
        .addEventListener('submit', function (event) {
          event.preventDefault();

          btn.value = 'Enviando...';

          const serviceID = 'default_service';
          const templateID = 'template_yntamba';

          emailjs.sendForm(serviceID, templateID, this)
            .then(() => {
              btn.value = 'Enviar Mensaje';
              alert('Mensaje enviado correctamente!');
            }, (err) => {
              btn.value = 'Enviar Mensaje';
              alert(JSON.stringify(err));
            });
        });

    </script>

</body>

</html>